<main class="m-8 text-white text-left">
    <div>
        <h1 class="text-3xl">Welcome to Oasis Hub</h1>
        <p class="text-lg">Oasis Hub es el lugar donde convergen tus mundos favoritos. Aquí encontrarás recursos útiles para Discord al alcance de la mano en un solo sitio</p>
    </div>
</main>
